{% extends 'base.html' %}

{% block message %}
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur eaque excepturi exercitationem
        expedita, illo ipsum iste iure maiores modi, molestiae molestias non perspiciatis porro quam, ullam unde velit
        vitae!</h1>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="front-boxes-container">
                <div class="row">
                    <a class="col-4 front-box-container" href="{% url 'staff-new-appointment' %}">
                        <div class="front-box-icon-container">
                            <i class=" front-box-icon las la-calendar"></i>
                            <span class="front-box-tag">
                        <i class="las la-plus" aria-hidden="true"></i>
                    </span>
                        </div>
                        <div class="front-box-info">
                            <span>New Appointment</span>
                        </div>
                    </a>
                    <a class="col-4 front-box-container" href="{% url 'staff-new-result' %}">
                        <div class="front-box-icon-container">
                            <i class="front-box-icon las la-file-invoice"></i>
                            <span class="front-box-tag">
                        <i class="las la-plus" aria-hidden="true"></i>
                    </span>
                        </div>
                        <div class="front-box-info">
                            <span>New Result</span>
                        </div>
                    </a>
                    <a class="col-4 front-box-container" href="{% url 'staff-new-pm' %}">
                        <div class="front-box-icon-container">
                            <i class="front-box-icon las la-capsules"></i>
                            <span class="front-box-tag">
                        <i class="las la-plus" aria-hidden="true"></i>
                    </span>
                        </div>
                        <div class="front-box-info">
                            <span>Periodic medication</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="front-boxes-container">
                <div class="row">
                    <a class="col-4 front-box-container" href="{% url 'staff-patients' %}">
                        <div class="front-box-icon-container">
                            <i class=" front-box-icon las la-user-injured"></i>
                            <span class="front-box-tag">
                        <i class="fas fa-list" aria-hidden="true"></i>
                    </span>
                        </div>
                        <div class="front-box-info">
                            <span>Patients</span>
                        </div>
                    </a>
                    <a class="col-4 front-box-container" href="{% url 'staff-list' %}">
                        <div class="front-box-icon-container">
                            <i class=" front-box-icon las la-users"></i>
                            <span class="front-box-tag">
                        <i class="fas fa-list" aria-hidden="true"></i>
                    </span>
                        </div>
                        <div class="front-box-info">
                            <span>Staff</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}