{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load tags %}

{% block page-title %}EGMS | New Appointment{% endblock %}
{% block title %}Appointments{% endblock %}

{% block content %}

    <div class="card mb-5 mb-xl-10">

        <div class="card-header">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">New appointment</h3>
            </div>

        </div>

        <div id="kt_account_profile_details" class="collapse show">

            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="result_by" value="{{ user.pk }}"/>
                <div class="card-body border-top p-9">

                    <div class="row mb-6">

                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Doctor</label>

                        <div class="col-lg-8">
                            {{ form.doctor|add_class:"form-select form-select-solid form-select-lg fw-bold"|attr:"data-control:select2"|attr:"placeholder:Select a doctor..." }}
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required select2">Department</label>

                        <div class="col-lg-8">
                            {{ form.department|add_class:"form-select form-select-solid form-select-lg fw-bold"|attr:"data-control:select2" }}
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6">
                            <span class="required">Date & time</span>
                        </label>
                        <div class="col-lg-8 fv-row">
                            {{ form.date|add_class:"form-select form-select-solid form-select-lg"|attr:"placeholder:Pick date rage" }}
                        </div>
                    </div>
                </div>


                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Add
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}